# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
*.lock

# production
build
credentials
.sass-cache
.env

# testing
/coverage
/artifacts

# misc
.DS_Store
.env
*.log
*.xml
*.sublime*
.idea/
.vscode
jsconfig.json
/nbproject/private/
