.Profile {
  .subscription {
    border: 1px solid #333333;
    border-left: 5px solid #333333;
    background: #222;
    padding: 10px 20px 10px 15px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;

    a {
      font-weight: bold;
      color: #e7e7e7;
    }

    &.active {
      border-left-color: #19b319;
    }

    .date {
      span:last-child {
        font-size: 12px;
        color: #848484;
      }
    }
  }

  .payment {
    border: 1px solid #333333;
    border-left: 5px solid #333333;
    background: #222;
    padding: 10px 20px 10px 15px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    transition: .3s;

    a {
      font-weight: bold;
      color: #e7e7e7;
    }

    &.activePayment {
      background: #e7ffed;
    }

    .status {
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 13px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 21px;
      opacity: 0.4;
    }



    &.pending {
      border-left-color: #eac705;
      .status {
        color: #eac705;
      }
    }

    &.processing {
      border-left-color: #360dfd;
      .status {
        color: #360dfd;
      }
    }

    &.failed {
      border-left-color: #ff0000;
      .status {
        color: #ff0000;
      }
    }

    &.success {
      border-left-color: #19b319;
      .status {
        color: #19b319;
      }
    }
  }
}
