.Profile {
  .payment {
    border: 1px solid #e7e7e7;
    border-left: 5px solid #e7e7e7;
    padding: 10px 20px 10px 15px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;

    .status {
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 13px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 21px;
      opacity: 0.4;
    }



    &.pending {
      border-left-color: #eac705;
      .status {
        color: #eac705;
      }
    }

    &.processing {
      border-left-color: #360dfd;
      .status {
        color: #360dfd;
      }
    }

    &.failed {
      border-left-color: #ff0000;
      .status {
        color: #ff0000;
      }
    }

    &.success {
      border-left-color: #19b319;
      .status {
        color: #19b319;
      }
    }
  }
}
