.PaymentStatus {
  .title {
    &.pending,
    &.created {
      color: #eac705;
    }

    &.processing {
      color: #360dfd;
    }

    &.failed {
      color: #ff0000;
    }

    &.success {
      color: #19b319;
    }
  }
  

  .btn {
    text-transform: uppercase;
  }
}
