.Submenu {
  .form-control {
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
  }

  .nav li[role="presentation"] {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
  }
}